{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        component/git {:local/root "./components/git"}}
 :paths ["src"]
 :aliases
 {
  :mvn
  {:extra-deps {component/maven {:local/root "components/mvn"}}}

  :main
  {:main-opts ["-m" "demo.core"]}}}
