{:deps {org.clojure/clojure {:mvn/version "1.11.1"}
        com.zaxxer/HikariCP {:mvn/version "5.0.1"}
        com.github.seancorfield/next.jdbc {:mvn/version "1.2.780"}
        org.postgresql/postgresql {:mvn/version "42.2.10"}}

 :paths ["src"]
 :aliases

 {:main
  {:main-opts ["-m" "demo.core"]}

  :build
  {:ns-default build
   :deps {io.github.clojure/tools.build {
                                         :git/tag "v0.8.1"
                                         :git/sha "7d40500"}}}
                                         ; :git/sha "7d40500863818c6f9a6e077b18db305d02149384"}}}}}
  :test {:extra-paths ["test"]
         :extra-deps {cognitect-labs/test-runner
                      {:git/url "https://github.com/cognitect-labs/test-runner"
                       :sha "cb96e80f6f3d3b307c59cbeb49bb0dcb3a2a780b"}}
         :main-opts ["-m" "cognitect.test-runner"]}}}
